<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Recipes Book</a>
  <button
    aria-controls="navbarContent"
    aria-expanded="true"
    aria-label="Toggle Navigation"
    class="navbar-toggler"
    data-target="#navbarContent"
    data-toggle="collapse"
    type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse container-fluid" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a routerLink="/recipes" class="nav-link" href="#">Recipes</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="/shopping-list" class="nav-link" href="#">Shopping List</a></li>
    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           id="navbarDropdownMenuLink"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a style="cursor: pointer" class="dropdown-item" >Save</a>
          <a style="cursor: pointer" class="dropdown-item" >Fetch</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
