<h1>Recipe Details</h1>
<hr>
<div class="row">
  <div class="col-xs-12">
    <img [alt]="recipe.name" [src]="recipe.imagePath" style="max-width: 300px;max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{recipe.name}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle"
              type="button"
              id="dropdownMenu"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        Manage
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu">
        <a class="dropdown-item" routerLink="/shopping-list">To Shopping List</a>
        <a class="dropdown-item" [routerLink]="['edit']">Edit Recipe</a>
        <a class="dropdown-item" href="#">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients"
      >
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
