<script src="../../header/header.component.ts"></script>
<div class="row col-12">
  <button
    class="btn btn-success"
    type="button"
    [routerLink]="['new']"
  >New recipe</button>
</div>
<hr>
<div class="row">
  <div class="col-12 list-group">
    <app-recipe-list-item
      *ngFor="let recipe of recipes, let i = index"
      [recipe]="recipe"
      [index]="i"
    ></app-recipe-list-item>
  </div>
</div>
