<div class="row">
  <div class="col-xs-12 mt-2">
    <form class="form">
      <div class="row">
        <div class="col-xs-5 form-group">
          <label for="name">Name</label>
          <input
            #name
            class="form-control"
            id="name"
            type="text"
          >
        </div>
        <div class="col-xs-2 form-group">
          <label for="amount">Amount</label>
          <input
            #amount
            class="form-control"
            id="amount"
            type="number"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 btn-block">
          <button (click)="onAddItem()" class="btn btn-success" type="button">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
