<div
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <h4 class="list-group-item-header">{{ recipe.name }}</h4>
  <div class="row col-md-12">
    <div class="list-group-item-text col-8">{{ recipe.description }}</div>
    <div class="pull-right col-3">
      <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive">
    </div>
  </div>
</div>
