<div class="row">
  <div class="col-xs-10">
    <app-shopping-list-edit></app-shopping-list-edit>
    <hr>
    <h5>Ingredients:</h5>
    <ul class="list-group">
        <li
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let ingredient of items" >
          {{ ingredient.name }} ({{ ingredient.amount }})
        </li>
    </ul>
  </div>
</div>
